.cashPage{
    padding-top: 50px;
    position: relative;
    height:750px;
    width: 1200px;
    margin: auto;
}

.ShadowStyle{
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    padding: 5px;
    height: 250px;
    width: 550px;
    padding-bottom: 10px;
}

.ShadowStyle:hover{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
    opacity: 1.0;
}

.cashDesc{
    font-family: "milton";
    height: 270px;
    width: 550px;
    padding: 5px;
}

.cashDesc p{
    font-size: 200%;
    text-align: center;
}

.cashPanel{
    width: 600px;
    float:left;
}