.descriptionStyle{
    position: fixed;
    top: 50px;
    right: 20px;
    width: 350px;
    height: 400px;
    z-index: 1;
    font-family: "milton";
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

@font-face {
    font-family: milton;
    src: url("../fonts/milton/Milton Keynes Regular.ttf");
}

.descriptionStyle h2{
    color:darkgreen;
    text-align: left;
}

.descriptionStyle p{
    color:darkgreen;
}
#content span{
    color:red;
}