.reportFlipster{
    padding-top: 40px;
    width: 1024px;
    margin: auto;
}

.reportDesc {
    height: 200px;
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
    font-family: "milton";
    font-size: 30;
    font-weight: bold;
}