.reportFlipster{
    padding-top: 40px;
    width: 1024px;
    margin: auto;
}

.reportDesc {
    height: 200px;
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
    font-family: "milton";
    font-size: 30;
    font-weight: bold;
}

.spinning {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
